.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navLink {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}